@model ICollection<ItemAgencyVM>

<li>
    <a>Agency</a>
    <!-- RD Navbar Dropdown-->
    <ul class="rd-navbar-dropdown">
        @foreach (var agecy in Model)
        {
            <li>
                <a asp-action="Index" asp-controller="Agency" asp-route-id="@agecy.Id">@agecy.Name</a>
            </li>
        }
    </ul>
</li>