@model FogotPasswordVM

<div style="display: flex;" class="container">
    <div style="flex: 3;" class="profile">
        <div style="padding: 20px;" class="card-body">
            <h4 style="margin-bottom: 20px;">Password Change</h4>
            <div asp-validation-summary="ModelOnly"></div>
            <form style="max-width: 75%;" method="post" enctype="multipart/form-data">
                <div style="margin-bottom: 15px;">
                    <label asp-for="Password">Old Password</label>
                    <input asp-for="Password" type="password" style="width: 100%;" placeholder="Photo" accept="image/*">
                    <span asp-validation-for="Password" style="color: red;"></span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label asp-for="NewPassword">New Password</label>
                    <input asp-for="NewPassword" type="password" style="width: 100%;" placeholder="Name">
                    <span asp-validation-for="NewPassword" style="color: red;"></span>
                </div>
                <div style="margin-bottom: 15px;">
                    <label asp-for="NewConfirmPassword">Confirm New Password</label>
                    <input asp-for="NewConfirmPassword" type="password" style="width: 100%;" placeholder="Surname">
                    <span asp-validation-for="NewConfirmPassword" style="color: red;"></span>
                </div>
                <button type="submit" style="background-color: #007bff; color: #fff;padding: 10px 25px 10px 25px; margin-right: 2px; margin-top: 2px; border-radius: 5px;">Submit</button>
            </form>
        </div>
    </div>
</div>
