@model ChangePasswordVM

<section class="section-md text-center text-sm-left">
    <div class="container">
        <h2>Change Password</h2>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-5">
                <div class="tabs-custom">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div asp-validation-summary="ModelOnly" style="color: red;"></div>
                            <form method="post">
                                <div class="form-group">
                                    <label asp-for="Password" class="form-label">Password</label>
                                    <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                                    <span asp-validation-for="Password" class="m-1 text-danger" ></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewPassword" class="form-label">New Password</label>
                                    <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
                                    <span asp-validation-for="NewPassword" class="m-1 text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="NewConfirmPassword" class="form-label">Confirm New Password</label>
                                    <input asp-for="NewConfirmPassword" type="password" class="form-control" placeholder="Confirm New Password">
                                    <span asp-validation-for="NewConfirmPassword" class="m-1 text-danger"></span>
                                </div>
                                <div class="form-group-btn">
                                    <button type="submit" class="btn btn-sushi btn-sm btn-min-width-xs">Enter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>