@model FindAccountVM

<section class="section-full undefined text-center text-sm-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 undefined">
                <h1>Login/Register</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="active">Fogot Password</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Login-->
<section class="section-md text-center text-sm-left">
    <div class="container">
        <h2>Fogot Password</h2>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-lg-5">
                <div class="tab-content">
                    <div id="tab1" class="tab-pane fade in active">
                        <div asp-validation-summary="ModelOnly" style="color: red;"></div>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="UserNameOrEmail" class="form-label">Username or Email</label>
                                <input asp-for="UserNameOrEmail" class="form-control" placeholder="Username or Email">
                                <span asp-validation-for="UserNameOrEmail" class="m-1 text-danger"></span>
                            </div>
                            <div class="form-group-btn">
                                <button type="submit" class="btn btn-sushi btn-sm btn-min-width-xs">Enter</button>
                                <a asp-action="Login" asp-controller="Account"
                                   class="btn btn-min-width-xs" style="color: black; text-decoration: none;" onmouseover="this.style.color='green'"
                                   onmouseout="this.style.color='black'">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>