<p style="user-select: none; padding: 25px 0 0 115px; margin-bottom: 145px; margin-top: 80px; font-weight: bold; font-size: 2rem;" class="user-select-none p-5 m-5 fw-bold fs-2">
    Please check your account. We have sent a message to confirm your email.
</p>
