@model ICollection<Product>

<div class="sidebar-module">
    <h4>Recent Properties</h4>
    <div class="thumbnail-3">
        <img src="images/left_sidebar_blog-1.jpg" alt="" width="340" height="230">
        <div class="caption">
            <a href="#" class="h5 text-sushi">1336 N Occidental Blvd</a>
            <p class="text-abbey">
                <span class="text-ubold">$4,339.00</span>
                <span>/month</span>
            </p>
        </div>
    </div>
    <div class="thumbnail-3">
        <img src="images/left_sidebar_blog-2.jpg" alt="" width="340" height="230">
        <div class="caption">
            <a href="#" class="h5 text-sushi">650 Kelton Ave #201</a>
            <p class="text-abbey">
                <span class="text-ubold">$2,449.00</span>
                <span>/month</span>
            </p>
        </div>
    </div>
    <div class="thumbnail-3">
        <img src="images/left_sidebar_blog-3.jpg" alt="" width="340" height="230">
        <div class="caption">
            <a href="#" class="h5 text-sushi">1735 N Fuller Ave #124</a>
            <p class="text-abbey">
                <span class="text-ubold">$2,449.00</span>
                <span>/month</span>
            </p>
        </div>
    </div>
</div>