@model GetAppUserVM

<dd>
    <img src="@Model.Img" style="width: 25px; height: 25px; border-radius: 50%;">
    <a asp-action="Index" asp-controller="User" class="text-sushi">@Model.UserName</a>
</dd>