<section class="section-full text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>FAQ</h1>
                <p></p>
                <ol class="breadcrumb">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--Section Some of your questions-->
<section class="section-md text-left">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>Accordion FAQ</h2>
                <hr>
                <p>If you need help, we have a list of frequently asked questions and answers. We strive to give you the best buying experience possible. Click a question below to view the answer.</p>
                <div class="accordion-custom" id="accordion-1">
                    <div class="accordion-item">
                        <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne-1" class="accordion-item-title">Why should I work with real estate agent?</a>
                        <div id="collapseOne-1" class="collapse in">
                            <div class="accordion-item-content">
                                <p>
                                    There are three main reasons which agent is absolutely necessary. First off is the knowledge of juridical laws and regulations. Laws regulate who can operate on the real estate market and who can take part in the mediation, and who
                                    not. Therefore it's clear, that you should choose a legitimate agent, instead one who operates outside of the laws and regulations. Second is the expertise of a licensed real estate agent. Every legitimate real estate agent, apart
                                    from his professional education, has expertise, which allows him to operate professionally and diligently on the real estate market to your benefit. With his help all legal regulations are adhered to. The third reason is security.
                                    Through the mediation of a real estate agent, the resulting contract will protect all your rights and interests.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-1" class="accordion-item-title collapsed">What is property tax?</a>
                        <div id="collapseTwo-1" class="collapse">
                            <div class="accordion-item-content">
                                <p>Property tax is a statutory levy, which is levied from the legal or natural person who owns or occupies the property, except those properties which are explicitly freed from this levy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree-1" class="accordion-item-title collapsed">How is the market value determined?</a>
                        <div id="collapseThree-1" class="collapse">
                            <div class="accordion-item-content">
                                <p>
                                    Market value is determined by a communal commission by standards installed by the government. These standards for marketprice evaluation offer grounds to define the value via value of the buildings on the property, microlocation and
                                    makrolocation.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour-1" class="accordion-item-title collapsed">Who pays the property tax?</a>
                        <div id="collapseFour-1" class="collapse">
                            <div class="accordion-item-content">
                                <p>
                                    If the owner of the property is unknown or unavailable, the occupant of the property is responsible. If the ownership of the property is shared amongst multiple persons, each person is responsible to pay according to its share. The
                                    person responsible for the property tax is a natural and legal person at the same time, user of communal and state property.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section Some of your questions 2-->