@model ICollection<FavoriteItemVM>

<li class="">
    <a class="" asp-action="WishList" asp-controller="Favorite"><i class="fa-regular fa-heart"></i><span class="wishlistcounter">@Model.Count</span></a>
</li>