@model ICollection<FavoriteItemVM>

<li class="">
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="WishList" asp-controller="User" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)"><i class="fa-regular fa-heart"></i> @Model.Count</a>
    }
    else
    {
        <a asp-action="WishList" asp-controller="Favorite"><i class="fa-regular fa-heart"></i> @Model.Count</a>
    }
</li>