@model ICollection<FavoriteItemVM>

<div style="display: flex;" class="container">
    <div style="flex: 3;" class="profile">
        <div style="padding: 20px;" class="card-body">
            <div class="row clearleft-custom" style="margin-bottom:300px;">
                @{
                    await Html.RenderPartialAsync("Favorite/_FavoritePartialView", Model);
                }
            </div>
        </div>
    </div>
</div>