@model ICollection<FavoriteItemVM>

<div style="display: flex;" class="container">
    <div style="flex: 3;" class="profile">
        <div style="padding: 20px;" class="card-body">
            <div class="row clearleft-custom" style="margin-bottom:300px;">
                @{
                    await Html.RenderPartialAsync("Favorite/_FavoritePartialView", Model);
                }
            </div>
        </div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        @if (User.IsInRole(UserRoles.Agent.ToString()) || User.IsInRole(UserRoles.Member.ToString()))
        {
            <div style="background-color: #6c757d; border-radius: 0.3rem;" class="bg-secondary border rounded-3">
                <ul style="padding: 15px 15px 65px 15px; color: #fff;">
                    <li><a asp-action="Index" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Profile Info</a></li>
                    <li><a asp-action="EditUser" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Edit Profile</a></li>
                    <li><a asp-action="WishList" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Wish List</a></li>
                    <li><a asp-action="ForgotPassword" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Change Password</a></li>
                    @if (User.IsInRole(UserRoles.Agent.ToString()))
                    {
                        <li><a asp-action="UpdateAgent" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Update Agent Info</a></li>
                        <li><a asp-action="Products" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Products</a></li>
                    }
                    else
                    {
                        <li><a asp-action="BeAAgent" asp-controller="User" style="color: #fff; text-decoration: none;" onmouseover="this.style.backgroundColor='#28a745'" onmouseout="this.style.backgroundColor='#6c757d'">Be an Agent</a></li>
                    }
                </ul>
            </div>
        }
    }
</div>